{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
<div class="toto">
	<section>
	<form method="post">
		<div class="mb-4"><a href="/">&leftarrow;</a><span>  Back</span></div>

		<h3>Register</h3>

												 
									

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

		<button class="btn btn-lg btn-primary" type="submit">
					Register
				</button>
		{{ form_end(registrationForm) }}
		</form>
	</section>
	</div>
{% endblock %}