{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<header class="primary-nav">
				<nav aria-label="primary navigation">
					<ul>
						<li><a href="/"><img src="https://docs.ypariset.fr/img/logo-black.png" width="35" height="25"></img></li></a>
						<li><a class="text-black text-monospace text-decoration-none" href="/home">Home</a></li>
						<li><a class="text-black text-monospace text-decoration-none" href="/cart">Cart</a></li>
						<li class="ml-auto mr-5"><a href="/user"><i class="fas fa-2xl fa-circle-user mr-3" style="color: black"></i></a><a class="text-black text-monospace text-decoration-none" href="/logout">Logout</a></li>
					</ul>
				</nav>
</header>
<div class="cart-section">
  <div class="d-flex justify-content-center align-items-center" style="padding-top: 24vh;">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Commands</b></h4>
                    </div>
                </div>
            </div>
            {% for command in commands %}
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-8">
                        <div class="row text-muted">Commande n°{{ command.id }}</div>
                        <div class="row"><span>le {{ command.date | date('d/m/Y') }}</span></div>
                    </div>
                    <div class="col-4">{{ command.price }} &euro;</div>
                </div>
            </div>
            {% endfor %}  
            <div class="back-to-shop"><a href="/home">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <hr>
            <div class="row">
            
               
            </div>
            <div class="row" style=" padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">&euro;</div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}